body {
  margin: 55px;
  background: #1d1d1d url('../img/bgd.png');
  color: #b0b0a8;
  font-family: 'Nobile', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 18px;
  text-shadow: #000 0px 1px 0px;
}

a {
  color: #6fe6ff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: normal;
}

h1 {
  font-size: 45px;
  margin-bottom: 25px;
}

h2 {
  font-size: 23px;
  display: inline; /* underline text only */
}

.link h2 {
  cursor: pointer;
  border-bottom: 1px dashed #fff;
}

#about {
  width: 550px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}

#contact p {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: normal;
}

div.spacer {
  height: 35px;
}

ul.projects, ul.profiles {
  margin-top: 15px;
}

ul.projects, ul.more-projects, ul.profiles, ul.more-profiles {
  list-style-type: none;
}

ul.projects li, ul.more-projects li, ul.profiles li, ul.more-profiles li {
  margin-top: 9px;
  margin-bottom: 9px;
  height: 17px;
}

ul.profiles li, ul.more-profiles li {
  padding-left: 27px;
  width: 150px;
  background: url('../img/master-sprite.png') no-repeat;
}

#show-projects, #show-profiles, #show-more-profiles, #show-more-projects {
  cursor: pointer;
  display: none;
}

#show-more-profiles, #show-more-projects {
  padding-left: 27px;
  background: url('../img/master-sprite.png') 0px -271px no-repeat;
}

ul.profiles li.somenotes     { background-position: 0px -84px;  }
ul.profiles li.linkedin      { background-position: 0px -67px;  }
ul.profiles li.github        { background-position: 0px -16px;  }
ul.more-profiles li.twitter  { background-position: 0px -101px; }
ul.more-profiles li.google   { background-position: 0px -33px;  }
ul.more-profiles li.facebook { background-position: 0px 1px;    }
ul.more-profiles li.lastfm   { background-position: 0px -50px;  }

ul.profiles li.somenotes:hover     { background-position: 0px -220px; }
ul.profiles li.linkedin:hover      { background-position: 0px -203px; }
ul.profiles li.github:hover        { background-position: 0px -152px; }
ul.more-profiles li.twitter:hover  { background-position: 0px -237px; }
ul.more-profiles li.google:hover   { background-position: 0px -169px; }
ul.more-profiles li.facebook:hover { background-position: 0px -135px; }
ul.more-profiles li.lastfm:hover   { background-position: 0px -186px; }

.hidden, .hidden a {
  height:1px;
  position: absolute;
  color: #151515;
  overflow: hidden;
}

.ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* Cover flip */

.ui-jcoverflip {
  position: relative;
}

.ui-jcoverflip--item {
  position: absolute;
  display: block;
}

#flip {
  height: 270px;
}

#flip .ui-jcoverflip--title {
  position: absolute;
  bottom: 10px;
}

#flip img {
  display: block;
  border: 0;
  outline: none;
}

#flip a {
  outline: none;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

.ui-jcoverflip--item {
  cursor: pointer;
}

ul#flip, ul#flip li {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}

.no-js #flip {
  /* in case javascript is disabled */
  display: none;
}
.more-projects-no-js {
  list-style: none;
  color: #fdce26;
}
