/**
 * Grid
 */
#grid{

    /* Dimensions - same width as your grid with gutters */
    width: 680px;
    overflow-y: hidden;

    /* Grid (left-aligned)
    position: absolute;
    top: 0;
    left: 0;
    */

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -340px;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: 260px;
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-right: 16px;

}

#grid div.vert.first-line{

    border: solid darkturquoise;
    border-width: 0 1px 0 0;
    width: 55px;
    margin-right: 16px;

}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 20px line height */
    height: 19px;
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

}

#grid div.horiz.first-line{

    margin-top: 32px;

}
