/* A warning for users of old versions of Internet Explorer */
.Warning {
  display: none;
}

.Oldie {
  overflow: hidden;

  &, body {
    height: 100%;
  }

  .Warning {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    display: block;
    overflow: auto;
    padding: 30px;

    z-index: 900;

    background-color: $dark;
    color: $light-grey;
    line-height: 25px;
    font-size: 20px;

    p {
      max-width: 580px;
    }

    a {
      color: $light-grey !important;
      border-bottom: 2px solid $grey;
    }
  }
}
