.Project {
  min-height: rem(316);
  padding-bottom: rem($space);

  &-title {
    margin: 0;
  }

  &-image {
    background-size: contain;
    border-radius: rem(3);
    height: 0;
    margin-bottom: rem(10);
    padding-bottom: 100%;
    width: 100%;
  }

  &-title,
  &-description {
    font-size: rem(15);
  }

  &-description {
    color: $grey;
    font-weight: 300;
    margin: 0;
  }

  &-stamp {
    float: right;
    font-weight: 300;
  }
}
