<!doctype html>
<html lang="en">
<head>
  <!--
     _   _      _ _       _
    | | | | ___| | | ___ | |
    | |_| |/ _ \ | |/ _ \| |
    |  _  |  __/ | | (_) |_|
    |_| |_|\___|_|_|\___/(_)

    Glad to see you here!
    If you want to read the source, visit git.io/vvBQt. It's actually pretty dull.
  -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>David Francisco</title>

  <meta name="author" content="David Marquês Francisco">
  <meta name="description" content="David Francisco's Personal Webpage">
  <meta name="reply-to" content="hello/at/dmfranc/dot/com">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400">
  <%= stylesheet_link_tag :app %>
</head>

<body>
  <%= yield %>
</body>
</html>
