$min-break-xsmall: 241px;
$min-break-small: 568px;
$min-break-medium: 768px;
$min-break-large: 1024px;

$max-break-xsmall: $min-break-xsmall - 1px;
$max-break-small: $min-break-small - 1px;
$max-break-medium: $min-break-medium - 1px;
$max-break-large: $min-break-large - 1px;

$space: 25px;

$dark: #2b303b;
$grey: #8fa1b3;
$light-grey: #eff1f5;
$selection-bgd: rgba(#b48ead, .3);
$selection-color: #fff;

// Override Bourbon Neat grid defaults
$max-width: em(1024) !global;
$border-box-sizing: true !global;
$gutter: em(140) !global;
