$break-small: 508px;
$break-medium: 768px;
$break-large: 1024px;

$col-size: 200px;
$gutter: 25px;

$dark: #2b303b;
$grey: #8fa1b3;
$light-grey: #eff1f5;
$selection-bgd: rgba(#b48ead, .3);
$selection-color: #fff;
