@import "bourbon";
@import "variables";
@import "neat";
@import "oldie";

/* Global */

html {
  font-size: 14px;

  @media screen and (min-width: $min-break-small) {
    font-size: 16px;
  }
}

body {
  @include user-select(none);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $dark;
  color: $light-grey;
  cursor: default;
  font-family: Source Sans Pro, sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  @include user-select(text);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Navbar */

.Navbar {
  @include clearfix;
  color: $grey;
  font-size: rem(15);
  letter-spacing: rem(1.5);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.Navbar-item {
  display: inline;
  float: left;
  list-style-type: none;
  margin-bottom: rem(10);

  // Group items in two columns
  width: 50%;
  &:nth-child(2n) {
    text-align: right;
  }

  // In bigger screens, show items in a single line
  @media screen and (min-width: 648px) {
    margin-right: rem($space);
    width: auto;

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

/* Intro */

.Intro {
  margin: rem(45) 0 rem(55);

  @media screen and (min-width: $min-break-medium) {
    margin: rem(100) 0;
  }
}

.Intro-title {
  -webkit-font-smoothing: initial;
  font-size: rem(27);
  letter-spacing: rem(0.2);
  margin: 0 0 rem(16);
  text-indent: rem(-2);

  @media screen and (min-width: $min-break-small) {
    font-size: rem(32);
  }
}

.Intro-title-main {
  display: block;

  @media screen and (min-width: $min-break-large) {
    display: inline;
    padding-right: rem(8);
  }
}

.Intro-subtitle {
  color: $grey;
  font-size: rem(25);
  font-weight: 300;
  margin: 0;
  text-indent: rem(-1);
  word-spacing: rem(1);

  @media screen and (min-width: $min-break-small) {
    font-size: rem(23);
  }
}

/* Projects */

.Projects {
  @include clearfix;
}

.Project {
  min-height: rem(316);
  padding-bottom: rem($space);
}

.Project-title {
  margin: 0;
}

.Project-image {
  border-radius: rem(3);
  margin-bottom: rem(10);
  width: 100%;
}

.Project-title,
.Project-description {
  font-size: rem(15);
}

.Project-description {
  color: $grey;
  font-weight: 300;
  margin: 0;
}

.Project-year {
  float: right;
  font-weight: 300;
}

/* Grid */

.u-container {
  @include outer-container;
  padding: rem($space);
  min-width: $max-break-xsmall;
}

.u-col {
  @include media(max-width $max-break-xsmall) {
    @include span-columns(12);
    @include omega(1n);
  }
  @include media(min-width $min-break-xsmall max-width $max-break-small) {
    @include span-columns(12/2);
    @include omega(2n);
  }
  @include media(min-width $min-break-small max-width $max-break-medium) {
    @include span-columns(12/3);
    @include omega(3n);
  }
  @include media(min-width $min-break-medium) {
    @include span-columns(12/4);
    @include omega(4n);
  }
}

/* Text selection */

::selection {
  background: $selection-bgd;
  color: $selection-color;
}

::-moz-selection {
  background: $selection-bgd;
  color: $selection-color;
}
