.Header-title {
  line-height: 1.35;
  letter-spacing: -0.015em;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 3.75rem;
}

.Header-description {
  font-size: 1.0625rem;
  line-height: 1.75;
  margin-bottom: 4.0625rem;
}
