.NotFound {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 480px;
  text-align: center;
  width: 100%;
}

.NotFound-content {
  padding: 0.5rem;
}

.NotFound-img {
  padding: 1rem 0;
}

.NotFound-text {
  font-size: 1.3rem;
  line-height: 1.9rem;
  max-width: 25.5rem;
  margin: 1rem;
}

.NotFound-link {
  border-bottom: 1px solid rgba(34, 38, 88, 0.25);
  color: inherit;
  display: inline-block;
  font-weight: bold;
  margin-top: 1.2rem;
  text-decoration: none;
  transition: border-color 250ms;
}

.NotFound-link:hover {
  border-color: currentColor;
}

@media (min-width: 768px) {
  .NotFound {
    min-height: 320px;
    text-align: left;
  }

  .NotFound-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
  }

  .NotFound-text {
    margin-left: 3rem;
  }
}
