.Projects {
  list-style: none;
  padding: 0;
}

.Project {
  display: flex;
  margin-right: 1rem;
  padding: 1.25rem 0;
  position: relative;
}

.Project-content {
  flex: 1;
}

.Project-title,
.Project-description {
  display: inline-block;
}

.Project-title {
  margin-bottom: 0.5625rem;
}

.Project-description {
  line-height: 1.35rem;
  margin-bottom: 0.5rem;
}

.Project-title,
.Project-year {
  font-size: 1.0625rem;
  line-height: 1rem;
}

.Project-year {
  float: right;
  font-style: normal;
}

.Project-logo {
  border-radius: 0.125rem;
  flex: none;
  height: 5.75rem;
  margin-top: 0.125rem;
  margin-right: 2.5rem;
  width: 5.75rem;
}

.Project-linkMask {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.Project-link {
  color: inherit;
  padding: 0.25rem 0.3125rem;
  margin-left: -0.3125rem;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.Project-link + .Project-link {
  margin-left: 0;
}

.Project-link > span {
  border-bottom: 1px solid rgba(34, 38, 88, 0.25);
  transition: border-color 250ms;
}

.Project-linkMask:hover ~ .Project-content .Project-link:first-of-type > span,
.Project-link:hover > span {
  border-color: currentColor;
  text-decoration: none;
}

.Project [data-hover-bg] {
  transition: background 250ms;
}

.Project [data-hover-fill] {
  transition: fill 250ms;
}

.Project [data-hover-stroke] {
  transition: stroke 250ms;
}

.Project:hover [data-hover-bg] {
  background: currentColor !important;
}

.Project:hover [data-hover-fill] {
  fill: currentColor !important;
}

.Project:hover [data-hover-stroke] {
  stroke: currentColor !important;
}

.Project:hover [data-flicker] {
  animation: flicker 3s linear infinite;
}

/* Flickering animation from codepen.io/pen/aJLYVz */
@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    fill: currentColor;
    opacity: 1;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    fill: #555;
    opacity: 0.8;
  }
}
