<div class="warning-oldie">
  <p>
    Hello, I’m David Francisco.&nbsp;
    A web developer from Coimbra, Portugal.
  </p>
  <p>
    This website is not supported by old versions of Internet Explorer.&nbsp;
    Please, access it from a modern browser such as
    <%= link_to "Google Chrome", "http://google.com/chrome" %>,
    <%= link_to "Mozilla Firefox", "http://mozilla.com/firefox" %> or a newer version of
    <%= link_to "Internet Explorer", "http://windows.microsoft.com/ie" %>.
  </p>
  <p>
    You can still find me in the following places or contact me via
    <a href="mailto:hello@dmfranc.com">email</a>:
    <ul>
      <li><a href="http://blog.dmfranc.com">Blog</a></li>
      <li><a href="https://twitter.com/dmfrancisco">Twitter</a></li>
      <li><a href="https://github.com/dmfrancisco">GitHub</a></li>
      <li><a href="https://linkedin.com/in/dmfrancisco/en">LinkedIn</a></li>
      <li><a href="https://dribbble.com/davidfrancisco">Dribbble</a></li>
    </ul>
  </p>
</div>
