<section class="Projects u-clear">
  <% settings.projects.each do |project| %>
    <div class="Project u-col">
      <% link_to project[:link], class: "Project-link", draggable: "false" do %>
        <div class="Project-image" style="background-image:url('img/<%= project[:image_src] %>')">
        </div>

        <h3 class="Project-title">
          <%= project[:title] %>

          <% if project[:year] %>
            <span class="Project-stamp">
              <%= project[:year] %>
            </span>
          <% end %>
        </h3>

        <p class="Project-description">
          <%= project[:description] %>
        </p>
      <% end %>
    </div>
  <% end %>
</section>
