<section class="Projects u-clear">
  <% settings.projects.each do |project| %>
    <div class="Project u-col">
      <% link_to project[:link], class: "Project-link", draggable: "false" do %>
        <%= image_tag project[:image_src], alt: project[:title],
          draggable: "false", class: "Project-image" %>

        <h3 class="Project-title">
          <%= project[:title] %>

          <% if project[:year] %>
            <span class="Project-year">
              <%= project[:year] %>
            </span>
          <% end %>
        </h3>

        <p class="Project-description">
          <%= project[:description] %>
        </p>
      <% end %>
    </div>
  <% end %>
</section>
