<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <!-- Hello! -->
  <meta charset="utf-8" />

  <title>David Francisco</title>
  <link rel="shortcut icon" href="/favicon.ico">

  <meta name="author" content="David Marquês Francisco">
  <meta name="description" content="David Francisco's Personal Webpage">
  <meta name="reply-to" content="hello/at/dmfranc/dot/com">

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=0" />

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "home/styles" %>
  <link href="css/home/print.css" media="print" rel="stylesheet">

  <script src="js/libs/modernizr-2.6.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.0.min.js"><\/script>')</script>
  <%= javascript_include_tag  "application" %>
</head>

<body>
  <div class="wrapper">
    <div id="page">
      <div class="content">
        <div class="vcard">

          <!-- Hidden microformats -->
          <div hidden style="display:none">
            <div class="fn n">
              <span class="given-name">David</span>
              <span class="family-name">Francisco</span>
            </div>

            <span class="headline title">Student at Universidade de Coimbra</span>

            <div class="adr">
              <span class="locality">Coimbra</span>
              <span class="country-name">Portugal</span>
              <span class="type">Home</span>
            </div>

            <a href="http://student.dei.uc.pt/~dmfranc/" rel="me" class="url">My webpage</a>
            <!-- img src="http://www.gravatar.com/avatar/790ae9aaf8a42f00845a0140492ca79e?s=200" alt="Photo of David" class="photo" -->
          </div>

          <!-- Short bio -->
          <section id="about">
            <h1>Hello!</h1>
            <p>I'm David Francisco. I'm currently taking a degree in Informatics Engineering at the University of Coimbra. <br/>I aspire to work as a web developer.</p>
          </section>

          <!-- Contact information -->
          <section id="contact">
            <p class="small">Download my <a type="text/directory" href="http://h2vx.com/vcf/dmfranc.com/">vcard</a> or email me at <a class="email" href="mailto:hello@dmfranc.com">hello@dmfranc.com</a>.</p>
            <p class="small">You can also contact me via <a class="url" href="xmpp:dmfrancisc@gmail.com">gtalk</a> or <a class="url" href="skype:dmfrancisc?call">skype</a>.</p>
          </section>

          <!-- Information for users with JavaScript disabled -->
          <noscript>
            <br/><p class="small">Please consider enabling JavaScript for an enhanced web experience.</p>
          </noscript>

          <div class="spacer"></div>

          <!-- Web presence -->
          <section id="profiles">
            <h2><span>Places where you can find me</span></h2>

            <ol>
              <li class="somenotes"><a href="http://blog.dmfranc.com"               rel="me" class="url">Blog</a></li>
              <li class="linkedin" ><a href="http://linkedin.com/in/dmfrancisco/en" rel="me" class="url">Linkedin</a></li>
              <li class="google"   ><a href="http://profile.dmfranc.com"            rel="me" class="url">Google+</a></li>
              <li class="twitter"  ><a href="http://twitter.com/dmfrancisco"        rel="me" class="url">Twitter</a></li>
              <li class="github"   ><a href="https://github.com/dmfrancisco"        rel="me" class="url">Github</a></li>
              <li class="dribbble" ><a href="http://dribbble.com/davidfrancisco"    rel="me" class="url">Dribbble</a></li>
              <li class="coderwall"><a href="http://coderwall.com/dmfrancisco"      rel="me" class="url">Coderwall</a></li>
              <li class="pinboard" ><a href="https://pinboard.in/u:dmfrancisco"     rel="me" class="url">Pinboard</a></li>
              <li class="vimeo"    ><a href="http://vimeo.com/davidfrancisco"       rel="me" class="url">Vimeo</a></li>
              <li class="facebook" ><a href="http://fb.me/dmfranc"                  rel="me" class="url">Facebook</a></li>
              <li class="lastfm"   ><a href="http://last.fm/user/elgangofeo"        rel="me" class="url">Last.fm</a></li>
            </ol>

            <!-- Inside the section to display the annotations -->
            <div class="spacer"></div>
          </section>


          <!-- Projects -->
          <section id="projects">
            <h2><span>Check the projects I've worked on</span></h2>

            <ol>
               <li><a href="http://escrito.herokuapp.com/" title="escrito - Collaborative writing with Markdown &amp; Textile">escrito</a> / a node.js collaborative writing tool.</li>
               <li><a href="http://activo.dmfranc.com/" title="activo - A theme for the Web-app-theme, Formtastic and Attrtastic Rails plugins">activo</a> / a theme for web applications.</li>
               <li><a href="http://pagehub.me/" title="pagehub - Pagehub lets you simplify long URLs into readable and sharable ones">pagehub</a> / lets you simplify long URLs.</li>
               <li><a href="http://dmfrancisco.github.com/Desligado/" title="desligado - A proof-of-concept app designed to work both online and off and to sync properly when the state changes">desligado</a> / web app designed to work both online and off.</li>
               <li><a href="http://slideshow.dmfranc.com/" title="slideshow.html - yet another HTML5 Presentation Assembler">slideshow.html</a> / an HTML5 Presentation Assembler.</li>
               <li><a href="https://github.com/dmfrancisco/scurry/" title="scurry - A simple compiler using Python, PLY and LLVM">scurry</a> / toy programming language written in Python.</li>
               <li><a href="#">appbase</a> / platform for user-centric interoperable applications.</li>
               <li><a href="#">rpr</a> / an information system written in Rails.</li>
               <li><a href="http://dmfranc.com/projects/pacwars/">pacwars</a> / design for a multi-agent programming game.</li>
               <li><a href="http://lenna.dmfranc.com">lenna</a> / a flash game.</li>
               <li><a href="http://innovation.dei.uc.pt/">deinnovation</a> / a video sharing platform.</li>
               <li><a href="http://wsnp.dmfranc.com/">wsnp</a> / gui application for programming WSNs.</li>
               <li><a href="http://desierto.tumblr.com">jambaz!</a> / web design for an audioblog.</li>
            </ol>

            <ul id="flip" style="display:none">
               <li>
                 <div data-picture data-title="escrito - Collaborative writing with Markdown &amp; Textile">
                   <div data-src="img/projects/escrito_small.png"></div>
                   <div data-src="img/projects/escrito_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="escrito" href="http://escrito.herokuapp.com/">escrito</a> / a node.js collaborative writing tool.</span>
               </li>
               <li>
                 <div data-picture data-title="activo 2.0 - A theme for the Web-app-theme, Formtastic and Attrtastic Rails plugins">
                   <div data-src="img/projects/activo-2_small.png"></div>
                   <div data-src="img/projects/activo-2_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="activo2" href="http://activo.dmfranc.com/">activo 2.0</a> / a theme for web applications.</span>
               </li>
               <li>
                 <div data-picture data-title="pagehub - Pagehub lets you simplify long URLs into readable and sharable ones">
                   <div data-src="img/projects/pagehub_small.png"></div>
                   <div data-src="img/projects/pagehub_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="pagehub" href="http://pagehub.me/">pagehub</a> / lets you simplify long URLs.</span>
               </li>
               <li>
                 <div data-picture data-title="desligado - A proof-of-concept app designed to work both online and off and to sync properly when the state changes">
                   <div data-src="img/projects/desligado_small.png"></div>
                   <div data-src="img/projects/desligado_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="desligado" href="http://dmfrancisco.github.com/Desligado/">desligado</a> / web app designed to work both online and off.</span>
               </li>
               <li>
                 <div data-picture data-title="slideshow - Yet another HTML5 Presentation Assembler">
                   <div data-src="img/projects/slideshow_small.png"></div>
                   <div data-src="img/projects/slideshow_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="slideshow" href="http://slideshow.dmfranc.com/">slideshow.html</a> / an HTML5 Presentation Assembler.</span>
               </li>
               <li>
                 <div data-picture data-title="scurry - A simple compiler using Python, PLY and LLVM">
                   <div data-src="img/projects/scurry_small.png"></div>
                   <div data-src="img/projects/scurry_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a href="https://github.com/dmfrancisco/scurry/">scurry</a> / toy programming language written in Python.</span>
               </li>
               <li>
                 <div data-picture data-title="appbase - Web Platform for User-Centric Interoperable Applications">
                   <div data-src="img/projects/appbase_small.png"></div>
                   <div data-src="img/projects/appbase_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a href="#">appbase</a> / platform for user-centric interoperable apps.</span>
               </li>
               <li>
                 <div data-picture data-title="rpr - Information System using Ruby on Rails">
                   <div data-src="img/projects/rpr_small.png"></div>
                   <div data-src="img/projects/rpr_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a href="#">rpr</a> / an information system written in Rails.</span>
               </li>
               <li>
                 <div data-picture data-title="pacwars - Webdesign for this amazing contest developed by Fabio Pedrosa">
                   <div data-src="img/projects/pacwars_small.png"></div>
                   <div data-src="img/projects/pacwars_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a href="http://dmfranc.com/projects/pacwars/">pacwars</a> / design for a multi-agent programming game.</span>
               </li>
               <li>
                 <img src="img/projects/lenna_large.png" alt="lenna - Game made for a Multimedia course" />
                 <span class="title"><a href="http://lenna.dmfranc.com">lenna</a> / a flash game.</span>
               </li>
               <li>
                 <div data-picture data-title="deinnovation - Video sharing platform about research projects mostly developed at DEI-UC">
                   <div data-src="img/projects/deinnovation_small.png"></div>
                   <div data-src="img/projects/deinnovation_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a id="deinnovation" href="http://innovation.dei.uc.pt/">deinnovation</a> / a video sharing platform.</span>
               </li>
               <li>
                 <img src="img/projects/wsnp_large.png" title="wsnp - Simulation, Management and Programming of Wireless Sensor Networks" />
                 <span class="title"><a href="http://wsnp.dmfranc.com/">wsnp</a> / gui application for programming WSNs.</span>
               </li>
               <li>
                 <div data-picture data-title="jambaz - Set of audioblogs that aims to share unusual admirable songs">
                   <div data-src="img/projects/jambaz_small.png"></div>
                   <div data-src="img/projects/jambaz_large.png" data-media="(min-width: 1025px)"></div>
                 </div>
                 <span class="title"><a href="http://desierto.tumblr.com">jambaz!</a> / web design for an audioblog.</span>
               </li>
            </ul>
          </section>

        <!-- end vcard -->
        </div>
      </div>
    </div>

    <section id="footer">
      <div class="content">
        <span>Built with <a href="http://middlemanapp.com/">Middleman</a> + HTML5 + CSS3 + jQuery.</span>
      </div>
    </section>
  </div>
</body>
</html>
