/*
 * Site Styles
 */

body {
  margin-right: 15%;
}
abbr {
  border-bottom: 1px dotted black;
}
strong, em.line {
  display: block;
}
p, h2 {
  margin-bottom: 20px !important;
}
#overview p {
  margin-bottom: 10px !important;
}
#overview > p:last-child {
  margin-bottom: 25px !important;
}
nav {
  float: right;
  font-size: 17px;
}
[hidden] {
  display: none !important;
}
.skills li {
  border: 1px solid #222;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 7px;
  margin-bottom: 4px;
  display: inline-block;
}

/* Language */
html[lang="en"] .pt, html:lang(en) .pt {
  display: none !important;
}
html[lang="pt"] .en, html:lang(pt) .en {
  display: none !important;
}

/* Anchors */
a.headerlink {
  display: none;
  font-size: 19px;
  font-weight: normal;
  vertical-align: top;
  border-bottom: none;
  -webkit-font-smoothing: antialiased;
}
h2:hover > a.headerlink {
  display: inline;
}

/* Simple shadows to indicate the user can scroll */
.top-shadow, .bottom-shadow {
  -webkit-transition: opacity 1s ease-out;
  opacity: 0;
}
.top-shadow:before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
  -moz-box-shadow:    0 0 15px rgba(0, 0, 0, .6);
  -ms-box-shadow:     0 0 15px rgba(0, 0, 0, .6);
  -o-box-shadow:      0 0 15px rgba(0, 0, 0, .6);
  box-shadow:         0 0 15px rgba(0, 0, 0, .6);
  z-index: 100;
}
.bottom-shadow:after {
  content: "";
  position: fixed;
  bottom: -10px;
  left: -10px;
  width: 110%;
  height: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
  -moz-box-shadow:    0 0 20px rgba(0, 0, 0, .7);
  -ms-box-shadow:     0 0 20px rgba(0, 0, 0, .7);
  -o-box-shadow:      0 0 20px rgba(0, 0, 0, .7);
  box-shadow:         0 0 20px rgba(0, 0, 0, .7);
  z-index: 100;
}

/* Go to top button */
a.gotop, a.current-section {
  position: fixed;
  right: 40px;

  text-shadow: 0px 0px 5px #fff;
  filter: dropshadow(color=#fff, offx=0, offy=0);

  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a.gotop {
  bottom: 40px;
}

/* Current section link */
a.current-section {
  top: 40px;
}

/* Custom scrollbar (from codepen.io) */
::-webkit-scrollbar {
  width: 12px;
  background: white;
}
::-webkit-scrollbar-track {
  padding: 2px;
  box-shadow: inset 2px 0 5px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.8);
}


/*
 * Page Styles
 */

@media print {
   body {
     color: black;
   }
   h1, h2, h3, h4, h5, h6 {
     page-break-after: avoid;
   }
   .row {
     page-break-inside: avoid;
   }
   hr {
     border-bottom: 1px dashed #111;
     page-break-before: avoid;
   }
   a.setlang, a.gotop {
     display: none;
   }
   .bottom-shadow:after, .top-shadow:before {
     -webkit-box-shadow: none;
     -moz-box-shadow:    none;
     -ms-box-shadow:     none;
     -o-box-shadow:      none;
     box-shadow:         none;
   }
}
@page {
  margin: 27mm 16mm 27mm 16mm;
}


/*
 * Media Queries
 */

/* Big resolutions or no support */
.cat {
  text-align: right;
}
.less {
  display: none;
}

/* Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px) {
} */

/* Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 768px) and (max-width: 959px) {} */

/* All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px) {} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    margin: 30px 0;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px !important;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px !important;
  }
  .cat {
    font-weight: bold;
    text-align: left;
  }
  a.gotop {
    right: 20px;
    bottom: 20px;
  }
  a.current-section {
    right: 20px;
    top: 20px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body {
    margin: 20px 0 10px 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px !important;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px !important;
  }
  .cat {
    font-weight: bold;
    text-align: left;
  }
  .full {
    display: none;
  }
  .less {
    display: block;
  }
  a.gotop {
    right: 20px;
    bottom: 20px;
  }
  a.current-section, a:visited.current-section {
    right: 0;
    top: 0;
    padding: 0 5px;
    color: white;
    text-shadow: none;
    background: black;
  }
}

/* Mobile (small) */
@media only screen and (max-width: 319px) {
  body {
    margin: 10px 0;
  }
  h4 {
    font-size: 17px;
  }
  .cat, nav {
    font-size: 14px;
  }
  a.gotop {
    right: 10px;
    bottom: 10px;
  }
}


/*
 * Font-Faces
 */

@font-face {
   font-family: 'Computer Modern';
   src: url('../../fonts/cmu_serif_roman.woff') format('woff'),
        url('../../fonts/cmu_serif_roman.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Computer Modern';
   src: url('../../fonts/cmu_serif_italic.woff') format('woff'),
        url('../../fonts/cmu_serif_italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Computer Modern';
   src: url('../../fonts/cmu_serif_bold_italic.woff') format('woff'),
        url('../../fonts/cmu_serif_bold_italic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Computer Modern';
   src: url('../../fonts/cmu_serif_bold.woff') format('woff'),
        url('../../fonts/cmu_serif_bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
